@media (min-width: 577px) {
    .container {
        width: 75%;
    }
    
    header #top-controls {
        width: 220px;
    }

    header .select-group {
        padding-right: 10px;
    }

    header .select-group select {
        width: 100%;
        text-indent: 30px;
    }


    #title-section form #form-error-msg {
        position: absolute;
        bottom: -25px;
    
    }
    
}